doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    style.
      * {
        background-color: #45523E;
      }
      body {
        font-family: 'Inter', sans-serif;
      }
      a {
        display: block;
        padding: 8px;
        background-color: #010101;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #010101;
      }
      li {
        float: right;
      }
      li a {
        display: block;
        color: #F5ECE5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #F5ECE5;
        color: rgb(0, 0, 0);
      }
      a.current {
        background-color: #B0ACA2;
        color: #010101;
        }
      .add_image {
        border-radius: 8px;
      }
      .bg {
        display: flex;
        flex-direction: column;
        background-color: transparent;
      }
      .bottom_bg {
        display: flex;
        flex-direction: column;
        background-color: #45523E;
        height: 100%;
        width: 100%;
      }
      .paragraph {
        color: #F5ECE5;
      }
      .sized_box1 {
        height: 20px;
      }
      .sized_box2 {
        height: 10px;
        background-color: #010101;
      }
      .rlp {
        border-radius: 8px;
        display: flex;
        height: 200pt;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: wheat; */
        background-color: rgba(0, 0, 0, 0.2);
      }
      .rlpc1 {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 20%;
        height: 60%;
        background-color: #F5ECE5;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .rlpc2 {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 20%;
        height: 60%;
        background-color: #F5ECE5;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .rlpc3 {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        width: 20%;
        height: 60%; background-color:#F5ECE5;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      /* goto each page button*/
      .button {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #45523E;
        background-image: linear-gradient(to bottom, #45523E, #516148);
        color: #F5ECE5;
        border-radius: 6px;
        transition: background-color 0.3s;
      }
      .button:hover {
        background-color: #45523E;
        background-image: linear-gradient(to bottom, #113613, #072709);
      }
      .button_description {
        background-color: #F5ECE5;
      }
    title POOL IT | Home
  body
    .bg
      ul
        li
          a(href="/profile/100") Profile
        li
          a(href="rent.html") Rent
        li
          a(href="/long_trip") Long Trip
        li
          a(href="routematching.html") Routematching
        li
          a.current(href="home.html") Home
      div(class="sized_box1")
      img(
        ,alt="sky" 
        src="assets/ad_img.jpg" 
        ,
        class="add_image"
        )
      div(class="sized_box1")
      div(class="Sized_box2")
      div(class="bottom_bg")
        p.paragraph
          | Welcome to Pool It, where we are dedicated to providing you with the
          |   best transportation solutions for your needs. Whether you need a ride
          |   to the airport, a corporate event, or a night out on the town, we've
          |   got you covered. Our experienced drivers are professional, courteous,
          |   and committed to your safety and satisfaction.
      .rlp
        .rlpc1
          h4(class="button_description") Click this button to view your matching ride options
          a.button(href="routematching.html") Routematching
        .rlpc2
          h4(class="button_description")
            | Click this button to find 
            |   longer trips.
          a.button(href="long_trip.html") Long Trip
        .rlpc3
          h4(class="button_description") Click this button to edit your profile
          a.button(href="profile.html") Profile
    footer
      p © 2023 Pool It
    script.
      // JS code here
        function goBack() {
        window.history.back();
        }